<cart-subscription-item class="cart-subscription-item">
  <select name="selling-plan" data-key="{{ line_item.key }}" data-line="{{ index }}" data-quantity="{{ line_item.quantity }}" class="js-selling-plan">
    <option value="">One-time purchase</option>

    {% for selling_plan_allocation in line_item.variant.selling_plan_allocations %}
      <option
        value="{{ selling_plan_allocation.selling_plan.id }}"
        {% if line_item.selling_plan_allocation.selling_plan.id == selling_plan_allocation.selling_plan.id %}selected="selected"{% endif %}
      >
        {{ selling_plan_allocation.selling_plan.name }}
      </option>
    {% endfor %}
  </select>
</cart-subscription-item>